*{
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin: auto;
    padding: 20px;
}

h1{
    width: 100%;
    padding: 20px;
    background: #833471;
    color: white;
    text-align: center;
    border-radius: 10px;
}

h3{
    color: #833471;
    text-align: center;
    margin-top: 10px;
}

select {
  background-color: #b155e73a;
  border: 0;
  border-radius: 20px;
  color: #1A2232;
  font-size: 12px;
  height: 30px;
  margin: 0 auto 20px;
  display: block;
  min-width: 260px;
  max-width: 30%;
}



.btn {
    cursor: pointer;
    background-color: #fdd5ef;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
}


  
.btn:active {
  transform: scale(0.98);
}
  
.btn:focus,
select:focus {
  outline: 0;
}

.botao-texto {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.caixa-texto {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: #bd86b0;
  color: #833471;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
  
.caixa-texto.show {
  transform: translate(-50%, 0);
}
.caixa-texto textarea {
  border: 1px #F4FEF8 solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  height: 150px;
}

.caixa-texto .btn {
  width: 100%;
}

.caixa-texto .sair {
  float: right;
  text-align: right;
  cursor: pointer;
  
}

.botao-texto{
    background-color: #833471;
    color: white;
    border-radius: 10px;
    padding: 5px 10px ;
    cursor: pointer;
}
.botao-texto:active{
    background-color: #a8258a;
    color: white;
}

.botao-ler{
    background-color: #833471;
    color: white;
    cursor: pointer;
}
.botao-ler:active{
    background-color: #a8258a;
    color: white;
}
.inserir-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.expressao-box{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
}

.expressao-box .active{
    box-shadow: 0 0 10px 5px #a8258a;
}



.expressao-box img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.expressao-box img:hover{
    border-top: 1.2px solid #fdd5ef;
    border-left: 1.2px solid #fdd5ef;
    border-right: 1.2px solid #fdd5ef;
}

.expressao-box img:active{
    transform: scale(0.98); 
}


.expressao-box .info{
    background-color: #833471;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.expressao-box .info:active{
    border: bort yellowgreen;
    color: #fce6f4;
}


footer{
    
    text-align: center;
    color: #833471;
}

footer p{
    padding: 20px;
    border-top: 1px solid #833471;
}

@media (max-width: 1100px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 760px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    main {
      grid-template-columns: 1fr;
    }
  }